.heading {
    background-size: cover;
    font-size: 4rem;
     color:purple;
    background-color: pink;
    
}

.paragraph {
    background-size: cover;
    font-size: 2rem;
    color:purple;
    background-color: pink;
    
   
}